useDynLib(binomSamSize)

import("binom")
importFrom("graphics", "plot")
importFrom("stats", "dbinom", "pbinom", "plogis", "qlogis", "qnorm","uniroot")

export("binom.liubailey")
export("binom.midp")
export("ciss.binom")
export("ciss.liubailey")
export("ciss.midp")
#export("ciss.piegorsch")
export("ciss.wald")
export("ciss.wilson")
export("ciss.agresticoull")

#export("ciss.pool.waldtype")
export("ciss.pool.wald")
export("coverage")
S3method("plot","coverage")
export("poolbinom.lrt")

export("poolbinom.waldtype")
export("poolbinom.wald")
export("poolbinom.logit")
